* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #252526;
  color: #ffffff;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #8BC658;
  max-width: 1280px;
  min-height: 100px;
  margin: 0 auto;
}
.wrapper .textarea {
  margin: 50px auto;
  width: 70%;
  height: 200px;
  background-color: #bbbbbb;
}
.wrapper .keyBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  background-color: #3C3F41;
  min-width: 100px;
  min-height: 100px;
  margin: 0 auto;
  padding: 40px;
}
.wrapper .keyBoard .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}
.wrapper .keyBoard .row .keyItem {
  min-width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid #b2c658;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10%;
}
.wrapper .keyBoard .row .keyItem:hover {
  cursor: pointer;
  background-color: #b2c6583a;
}